<!DOCTYPE html>
<html lang="en">
<head>
    <style>
#employeeform{
display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-top:20px;
  margin-bottom: 10px;
    margin-left:400px;

}

    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="employeeform">
<form  action="/staff/createEmployee/" method="POST">
    {% csrf_token %}
     Employeename:<input type="text" name="Employeename"> <br/>
     Department: <input type="text" name="Department"> <br/>
     Email:<input type="text" name="Email"></br>
    Dateofbirth :<input type="date"  name="Dateofbirth" value="%Y-%mm-%dd" required=""><br>
    picture:<input type="file" id="img" name="Picture" accept="image/*"><br>

<br>
    <input type="submit" value="submit"><br>
</form>
</div>
</body>
</html>